apiVersion: apps/v1
kind: Deployment
metadata:
  name: HAPPYREPO
spec:
  selector:
    matchLabels:
      app: HAPPYREPO
  replicas: 2
  template:
    metadata:
      labels:
        app: HAPPYREPO
    spec:
      containers:
        - name: HAPPYREPO
          image: HAPPYIMAGE
          ports:
            - containerPort: 3000
          resources:
            requests: # 资源分配下限
              cpu: "20m"
              memory: "20Mi"
            limits: # 资源分配上限
              memory: "300Mi" # 内存限制
              cpu: "500m" # 限制cpu
          env:
            - name: MICRO_REGISTRY
              value: "consul"
            - name: MICRO_REGISTRY_ADDRESS
              value: "happy-consul"
            - name: MICRO_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: TZ
              value: Asia/Shanghai
            - name: MICRO_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          lifecycle:
            postStart:
              exec:
                command:
                  - sh
                  - "-c"
                  - wget --output-document=/dev/null "BOT_API?title=✅%20$(hostname)&desc=位于节点**${MICRO_NODE_NAME}**的服务启动"
                 
            preStop:
              exec:
                command:
                  - sh
                  - "-c"
                  - wget --output-document=/dev/null "BOT_API?title=❌%20$(hostname)&desc=位于节点**${MICRO_NODE_NAME}**的服务移除"
                  
---
apiVersion: v1
kind: Service
metadata:
  name: HAPPYREPO #Service 的名称
  labels: #Service 自己的标签
    app: HAPPYREPO #为该 Service 设置 key 为 app，value 为 nginx 的标签
spec: #这是关于该 Service 的定义，描述了 Service 如何选择 Pod，如何被访问
  selector: #标签选择器
    app: HAPPYREPO #选择包含标签 app:nginx 的 Pod
  ports:
    - name: web #端口的名字
      protocol: TCP #协议类型 TCP/UDP
      port: 80 #集群内的其他容器组可通过 80 端口访问 Service
      nodePort: 31003 #通过任意节点的 32600 端口访问 Service
      targetPort: 80 #将请求转发到匹配 Pod 的端口
  type: NodePort #Serive的类型，ClusterIP/NodePort/LoaderBalancer
  topologyKeys:
    - "kubernetes.io/hostname"
    - "topology.kubernetes.io/zone"
    - "topology.kubernetes.io/region"
    - "*"
