.not-found[data-v-ad037df8]{height:100vh;width:100vw;display:flex;align-items:center;justify-content:center;font-size:32px;color:#666}.x-mian div[data-v-ad037df8]{padding:2rem 0;display:flex;flex-direction:column;align-items:center}
