.main-container {
  min-height: calc(100vh - 80px);
}

.sticky-container {
  padding: 0 5%;
  background: rgba(255, 255, 255);
}
.default-layout-container {
  padding: 0 5%;
}

@media screen and (min-width: 1200px) {
  .sticky-container,
  .default-layout-container {
    padding: 0 15%;
  }
}

.main-container {
  min-height: calc(100vh - 80px);
}
